@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
@font-face {
  font-family: vazir;
  src: url("Vazir/Vazir-FD-WOL.eot"), url("Vazir/Vazir-FD-WOL.ttf"),
    url("Vazir/Vazir-FD-WOL.woff");
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    font-family: vazir;
    font-size: 15px;
    direction: rtl;
    color: #222;
}
